# Compiler files
cache/
cache-zk/
cache_hardhat-zk/
artifacts-zk/
deployments-zk/
out/
ignition/
zkout/

# Development broadcast logs
/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env*

# Dependencies
lib/
node_modules/